/**
 * Global SCSS variables
*/
@import '~assets/css/variables.scss';


/**
 * Global styles
*/
@import 'normalize.css';

body {
  background-color: $light-gray;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


/**
 * Pages and components
*/
@import '~assets/css/components/progress.scss';
@import '~assets/css/components/page.scss';
@import '~assets/css/components/form.scss';
@import '~assets/css/components/buttons.scss';