.button {
  font: normal normal bold 28px/37px Roboto;
  color: $white;
  background-color: $blue15;
  height: 64px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  border: 2px solid $blue15;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;

  &--inverse {
    background-color: $white;
    color: $blue15;
  }

  &--nuxtlink {
    line-height: 60px;
    text-decoration: none;
  }

  &--disabled {
    background-color: $gray;
    border-color: $gray;
  }
}